@import url('reset.css');
@import url('font.css');

/* 본고딕, 나눔체 : 자주 쓰는 폰트이므로 웹폰트를 항상 사용할 수 있도록 샘플을 만들어 놓자. */
/* global */

.none {
  display: none;
}

.wrap_page {
  width: 1280px;
  height: 752px;
}

.container {
  margin: 0 auto;
  width: 1190px;
}


/* color */
.clr_tp01 {
  color: #e7c83c;
}